In [1]:
print("Hola mundo") # 1.PRINT

Hola mundo

In [2]:
print("hola","mundo", sep="-")

hola-mundo

In [3]:
print("hola mundo")
print ("que tal")

hola mundo
que tal

In [7]:
print("hola mundo",end=" ")
print ("que tal")

hola mundo que tal

In [8]:
print("hola mundo",end="!")
print ("que tal")

hola mundo!que tal

In [9]:
print("hola mundo",end="\n") #por defecto se hace el salto de linea
print ("que tal")

hola mundo
que tal

In [10]:
#0.2 TYPES 
print (10)

10

In [11]:
print(type(0))

<class 'int'>

In [12]:
print(type(-5))

<class 'int'>

In [13]:
print(482948294892489284+1)

482948294892489285

In [15]:
print(type(3.0))

<class 'float'>

In [16]:
print(type(1e3)) #SIEMPRE que usemos notación científica se va a convertir en float,auqnue el resultado sea un numero entero

<class 'float'>

In [18]:
print("complex:")
print(type(1+2j)) #numero real mas numero imaginario

complex:
<class 'complex'>

In [22]:
print("str:")
print(type("hola"))
print(type("")) #cadena vacia tambien es texto
print(type("123")) #numeross entre comillas tambien son string

str:
<class 'str'>
<class 'str'>
<class 'str'>

In [23]:
print("bool:")
print(type(True))
print(type(False))
print(type(1<2)) #comparacion de numero es booleano

bool:
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [24]:
print("NoneType:")
print(type(None)) #Esto es ausencia de valor

NoneType:
<class 'NoneType'>

In [26]:
#Transformar un tipo de valor a otro
print("Conversión de tipos:")
#print(2+"100") esto daria error,estas intentando sumar numero y texto
print(2+ int("100")) #convierte el texto 100 a numero,los suma 102
print("100"+str(2)) #convierte el numero 2 a texto y entonces junta 100y2=1002
print(type(int("100"))) #transforma el texto a int
print(int(3.87)) #al tranformarlo en entero elimina la parte decimal

Conversión de tipos:
102
1002
<class 'int'>
3

In [28]:
print(bool(3))
print(bool(0)) #el único que se transforma como falso es el 0
print(bool(-1))
print(bool(""))#la única cadena de texto que se tranforma como False es la vacia ""
print(bool(" "))
print(bool("False"))

True
False
True
False
True
True

In [29]:
print(round(2.5)) #elige el par mas cercano , 2 es par ,3 es impar
print(round(3.5)) #3 es impar,4 es par 
print(round(4.5)) #4 es par,5 impar
print(round(5.5)) #5 es impar,6 par

2
4
4
6

In [30]:
#Variables, sirven para guardar datos en memoria 
#Asignar una variable:
my_name= "midudev"
print(my_name)

midudev

In [31]:
age=32
print(age)

32

In [32]:
age=39
print(age) #se reescribe, se va a quedar con el último valor

39

In [33]:
#Tipado dinámico: el tipo de dato se determina en tiempo de ejecución,no hay que declararlo
name="midudev"
print(type(name))

<class 'str'>

In [34]:
name= 32
print(type(name))

<class 'int'>

In [35]:
#Tipado fuerte: no realiza conversiones de tipo automático
# print(10 + "2") esto nos daria error

In [39]:
print(f"Hola {my_name} , tengo {age} años")
print(f"Hola {my_name} , tengo {age+4} años")#f-string

Hola midudev , tengo 39 años
Hola midudev , tengo 43 años

In [40]:
#Forma no recomendada de asignar variables:
name,age,city = "midudev",32,"Sevilla"

In [41]:
#Cuando se pone todo en MAYUSCULAS se entiende que es un valor 
#constante que NO deberia cambiar
MI_CONSTANTE= 3.14 #UPPER CASE -> CONSTANTE

In [42]:
#Nombres NO VÁLIDOS DE VARIABLES
# 1233_variable= "ko" que empieze por numero mal!!!
# mi-variable=2323 usar guiones para separ - MAL!
# mi variable = 2323 usar espacios en blanco MAL!!
# PALABRAS RESERVADAS NO SE PUEDEN USAR PARA NOMBRAR NUESTRAS VARIABLES!!

In [43]:
is_user_logged_in: bool = True #Le dices que esta variable es tipo bool true o false 
print(is_user_logged_in)

##ahora aqui le asignas un valor de numero , python no se queja porque tenemos puesto el modo basic 
#de verificador de tipos , si ponemos strict si 
is_user_logged_in = 42 
print(is_user_logged_in)

True
42

In [45]:
#input :permite obtener datos del usuario a través de la consola
#IMPORTANTE!! TODA LA INF.QUE LE PIDAMOS AL USUARIO SE TRATA COMO STR
print("Hola , ¿cómo te llamas?")
nombre= input() #Aqui pide el nombre al usuario
print(f"Hola, {nombre}, encantado ")

Hola , ¿cómo te llamas?

 sari

Hola, sari, encantado

In [48]:
nombre=input("Hola , ¿como te llamas?\n")
print(f"Hola, {nombre}, encantado ")

Hola , ¿como te llamas?
 sarita

Hola, sarita, encantado

In [51]:
age=input("¿cuantos años tienes?")
age=int(age)
print(f"Dentro de 20 años tendrás {age+20}")

¿cuantos años tienes? 29

Dentro de 20 años tendrás 49

In [1]:
#Para obtener múltiples valores del usuario:
#split asigna cada elemento separados por espacio
country,city = input("¿En que país y ciudad vives?\n").split()
print(f"Vives en {country}, {city}")

¿En que país y ciudad vives?
 españa sevilla

Vives en españa, sevilla

In [2]:
#Ejercicios repaso Unidad 1 :
print("\nEjercicio 1: Imprimir mensajes")
print("Escribe un programa que imprima tu nombre y tu ciudad en líneas separadas.")
print (" sara \n huelva")

Ejercicio 1: Imprimir mensajes
Escribe un programa que imprima tu nombre y tu ciudad en líneas separadas.
 sara
 huelva

In [3]:
print("\nEjercicio 2: Muestra los tipos de datos de las siguientes variables:")
print("Usa el comando 'type()' para determinar el tipo de datos de cada variable.")
a = 15
b = 3.14159
c = "Hola mundo"
d = True
e = None
print(type(a))
print(type(b))
print(type(b))
print(type(d))
print(type(e))

Ejercicio 2: Muestra los tipos de datos de las siguientes variables:
Usa el comando 'type()' para determinar el tipo de datos de cada variable.
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [4]:
print("\nEjercicio 3: Casting de tipos")
print("Convierte la cadena \"12345\" a un entero y luego a un float.")
print("Convierte el float 3.99 a un entero. ¿Qué ocurre?")
print(type(int("12345")))

Ejercicio 3: Casting de tipos
Convierte la cadena "12345" a un entero y luego a un float.
Convierte el float 3.99 a un entero. ¿Qué ocurre?
<class 'int'>

In [5]:
print(type(float("12345")))

<class 'float'>

In [7]:
print(type(int(3.99)))

<class 'int'>

In [10]:
print("\nEjercicio 4: Variables")
print("Crea variables para tu nombre, edad y altura.")
print("Usa f-strings para imprimir una presentación.")
nombre = "midudev"
edad = 36
altura=165
print(f"Hola {nombre} , tu edad es {edad} y mides {altura}")

Ejercicio 4: Variables
Crea variables para tu nombre, edad y altura.
Usa f-strings para imprimir una presentación.
Hola midudev , tu edad es 36 y mides 165

In [15]:
print("\nEjercicio 5: Números")
print("1. Crea una variable con el número PI (sin asignar una variable)")
print("2. Redondea el número con round()")
print("3. Haz la división entera entre el número que te salió y el número 2")
print("4. El resultado debería ser 1")
variable_pi=int(round( 3.1416))
print(variable_pi /2)
print(round(variable_pi/2))
#la manera correcta 
resultado = int(round(3.1416) / 2)

Ejercicio 5: Números
1. Crea una variable con el número PI (sin asignar una variable)
2. Redondea el número con round()
3. Haz la división entera entre el número que te salió y el número 2
4. El resultado debería ser 1
1.5
2

In [3]:
resultado= int(round(3.1416)/2)
print(resultado)

1

In [5]:
#UNIDAD 2 . SENTENCIAS CONDICIONALES
#Ejecutar bloques de códigos si se cumplen ciertas condiciones:
#Sentencia simple condicional:
edad= 17
if edad>=18:
    print("eres mayor")
else:
    print("eres peque")

eres peque

In [11]:
nota=8
if nota>=9:
    print("sobre")
elif nota>=7:
    print("nota alta")
elif nota>=5:
    print("aprobado")
else:
    print("susp")

nota alta

In [12]:
#Condiciones múltiples:
edad=25
tiene_carnet= True
if edad>=18 and tiene_carnet: #AND se tienen que cumplir ambas condiciones
    print ("puedes conducir")
else:
    print("no puedes !!")

puedes conducir

In [13]:
#import os
#os.system("clear") ESTO ES PARA IR LIMPIANDO LAS LÍNEAS DE COMANDO

In [14]:
if edad>=18 or tiene_carnet: #OR con que una condición se cumpla vale
    print("puedes conducir en la isla")
else:
    print("si pagas conduces")

puedes conducir en la isla

In [15]:
es_fin_de_semana= False
if not es_fin_de_semana:
    print("al cole")

al cole

In [19]:
#Anidar condicionales:
edad=20
tiene_dinero= True
edad = 20
tiene_dinero = True

if edad >= 18: #1ºevalua si tiene más de 18
    if tiene_dinero: #si tiene dinero entra aqui
        print("puedes salir")
    else:
        print("no tienes dinero") #si no tiene dinero entra aqui
else:
    print("no puedes salir") #aqui entra si es menor a 18

puedes salir

In [22]:
#Valores booleanos :
#True o False
#Operadores de comparación : devuelven un valor booleano
print("5>3:", 5>3) #True
print("5<3:", 5<3) #False
print("5==5:", 5==5) #True Igualdad
print("5!=5:", 5!=5) #True Desigualdad
print("5>=3:", 5>=3) #True (mayor o igual que)
print("5<=3:", 5<=3) #True (menor o igual que)

5>3: True
5<3: False
5==5: True
5!=5: False
5>=3: True
5<=3: False

In [27]:
#comparar cadenas de texto 
print("manzana>pera:","manzana"<"pera" ) #True , compara la m(de manzana) va antes que la p(de pera)
print("Hola" =="hola", "Hola"=="hola") #False

manzana>pera: True
False False

In [30]:
#Tablas de la verdad : Resumen de las condiciones:
print("\nTablas de la verdad:")
print("and:")
print("A    B     A and B")
print("True True ", True and True)
print("True False" , True and False)
print("False True " , False and True)
print("False False", False and False)

Tablas de la verdad:
and:
A    B     A and B
True True  True
True False False
False True  False
False False False

In [32]:
numero=5
if numero: # esto es comom if numero!=0 #cualquier num distinto de 0 es True
    print("el número no es 0")

numero=0 # 0 en python es FALSE
if numero : 
    print("aqui no entra nunca")

nombre= "Juan" #una cadena con texto es True
if nombre:
    print("el nombre no es vacio")

el número no es 0
el nombre no es vacio

In [35]:
#Condición ternaria:
#[codigo si cumple una condicion]if[condicion]else[codigo si no cumple]
edad =17
mensaje="es mayor de edad" if edad>=18 else "es menor de edad"
print(mensaje)

es menor de edad

In [ ]:
#EJERCICIOS REPASO UNIDAD 2